.filterMenuContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.indexerSelect {
  composes: enhancedSelect from '~Components/Form/Select/EnhancedSelectInput.css';

  margin-right: 10px;
  min-width: 220px;
}

.filteredMessage {
  margin-top: 10px;
}
